body{
    background-image: url(bg5.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.section{
    margin-top: 300px;
    text-align: center;
    padding: 50px 80px;
}

.dark{
background-color: #282e34;
color: #ddd;
}
.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase; 
}

.text .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.text .border.trans{
    background-color: transparent;
}
button{
    background-color: white;
    height: 40px;
    width: 120px;
    border-radius: 40px;
    border-color: white;
    border: white;
    cursor: pointer;
    transition: all ease 0.2s;
}
button:hover{
    background-color: green;
    color: white;
    border-color: green; 
    border-style: solid; 
    border: green;
}
button::after{
    opacity: 0.2;
}
@media(max-width:568px){
    body{
        background-image: url(bg5.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        background-attachment: fixed;
    }
    .text{
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 27px;
        letter-spacing: 8px;
        text-transform: uppercase; 
    }
    
    .text .border{
        background-color: #111;
        color: #fff;
        padding: 20px;
    }
    
    .text .border.trans{
        background-color: transparent;
    }
    button{
        background-color: white;
        height: 40px;
        width: 120px;
        border-radius: 40px;
        border-color: white; 
        border: white;
        border: solid; 
        cursor: pointer;
        transition: all ease 0.2s;
    }
    button:hover{
        background-color: green;
        color: white;
        border-color: green; 
        border: green;
        border: solid;  
    }
    button::after{
        opacity: 0.5;
    }

}